::selection {
  color: #fff;
  background: #333;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  background: oklch(0.6231 0.188 259.8145);
}
